<% content_for :title, "Downloads" %>
<div class="row columns admin-table">
  <h1>
    Downloads
    <small>
      <%= link_to new_admin_download_path, title: "Create a new download" do %>
        <%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
      <% end %>
    </small>
  </h1>

  <table>
    <thead>
      <tr>
        <th width="30"></th>
        <th>Type</th>
        <th>Language</th>
        <th>Title</th>
        <th>Part Number</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody id="download_types" data-update-path="<%= sort_admin_download_types_path %>">
      <%= render @downloads %>
    </tbody>
  </table>
</div>
