<% content_for :title, "Return Material Authorization Policy Documents" %>
<div class="row columns">
<h1>
  Return Material Authorization Policy Documents
  <%= link_to new_return_material_authorization_policy_document_path, title: "Create a new Return Material Authorization Policy Document" do %>
    <%= image_tag('icons/Plus.svg', class: "icon") %>
  <% end %>
</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Effective</th>
      <th>Last modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @return_material_authorization_policy_documents %>
  </tbody>
</table>
</div>