<%= content_for :title, "Training Courses" %>

<div class="row columns admin-table">
  <h1>
    Training Courses
    <%= link_to new_admin_training_course_path, title: 'Create a new feature' do %>
			<%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
		<% end %>
  </h1>

<table>
  <thead>
    <tr>
      <th width="30"></th>
      <th>Course #</th>
      <th>Title</th>            
      <th>Duration</th>
      <th>Summary</th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @training_courses %>
  </tbody>
</table>
</div>