<% content_for :title, "Downloads" %>
<div class="row columns">
  <h1>
    Downloads
    <small>
      <%= link_to new_download_path, title: "Create a new download" do %>
        <i class="fa fa-plus-square-o"></i>
      <% end %>
    </small>
  </h1>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Type</th>
        <th>Language</th>
        <th>Title</th>
        <th>Part Number</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="download_types" data-update-path="<%= sort_download_types_path %>">
      <%= render @downloads %>
    </tbody>
  </table>
</div>
