<div class="medium-4 small-8 small-offset-2 medium-offset-0 columns">
  <div class="support-search-image">
    <%= attachment_image_tag product_type, :icon_image, fallback: 'http://placehold.it/100x70' %>
    <h5><%= product_type.name %></h5>
  </div>

  <div class="support-search-dropdown">
    <section class="products-language-header support-dropdown">
      <%= form_tag({action: :select_product}, {class: ''}) do %>
        <%= select_tag :product, options_from_collection_for_select(product_type.products, :id, :name), prompt: 'Select a product…', class: 'products-language-dropdown support_base_index_select_product' %>
      <% end %>
    </section>
  </div>
</div>
