<% cache patent do %>
  <%= content_tag_for :tr, patent do %>
    <td>
      <%= number_with_delimiter patent.number %>
    </td>
    <td>
      <%= patent.title %>
    </td>
    <td>
      <%= patent.products.map { |p| p.name }.join(', ') %>
    </td>
  <% end %>
<% end %>
