<% cache article do %>
	<div class="news-article" data-equalizer-watch>
		<%= link_to article do %>
		  <%= attachment_image_tag article, :hero_image, :fill, 744, 419 %>
		  <h2><%= article.title %></h2>
		  <p><%= article.subtitle %></p>
		<% end %>
	</div>
<% end %>
