<% content_for :title, "Sales Terms and Conditions Documents" %>
<div class="row columns">
<h1>
  Sales Terms and Conditions Documents
  <small>
    <%= link_to new_sales_terms_and_conditions_document_path, title: "Create a new Sales Terms and Conditions document" do %>
      <i class="fa fa-plus-square-o"></i>
    <% end %>
  </small>
</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Effective</th>
      <th>Last modified</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render @sales_terms_and_conditions_documents %>
  </tbody>
</table>
</div>