<%= content_for :title, t(".title") %>

<div class="row columns admin-table">
<h1>
  Training Event
  <%= link_to new_admin_training_event_path, title: 'Create a new training event' do %>
    <%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
  <% end %>
</h1>

<table>
  <thead>
    <tr>
      <th width="30"></th>
      <th>Title</th>
      <th>Location</th>      
      <th>Description</th>
      <th>Starts Date</th>
      <th>End Date</th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody id="training_event">
    <%= render @training_events %>
  </tbody>
</table>
</div>