<h1>New Demo Request!</h1>
<p><%= @demo_request.name %> from <%= t "countries.#{@demo_request.country}" %> requests a product demo. This request originated from the following page on the website:</p>
<p><%= @page %></p>
<p>To respond to this request, just reply to this email.</p>
<p>This request would be sent to <%= @send_to_email %></p>
