<div class="medium-12 columns">
    <div class="row">
        <h2>Registration Confirmation</h2>
        <p>Congradulations, you're now registered. Hhere are the details:</p>
        

        <%= @enrollmentsasdf %>
        

    </div>
</div>

