<p><%= @user.name %> changed the following rule:</p>
<pre><%= @redirect_rule.source %></pre>
which redirects to
<pre><%= @redirect_rule.destination %></pre>
with a status of
<pre><%= @redirect_rule.active %></pre>
