<div class="tag-container medium-6 large-4 end columns">
	<div data-equalizer-watch>
		<%= link_to article, class: 'tag-result-tile' do %>
			<div class="row">
				<div class="small-6 large-3 columns">
			  	<%= attachment_image_tag article, :hero_image, :fill, 70, 40, fallback: "icons/#{article.type.underscore}.svg" %>
			  </div>
			  <div class="small-6 large-9 columns">
				  <h3><%= article.title %></h3>
				  <p><%= article.subtitle %></p>
			  </div>
		  </div>
		<% end %>
	</div>
</div>
