<% content_for :title, %(Edit "#{@return_material_authorization_policy_document.title}") %>
<div class="row columns">
<h1><%= %(Edit "#{@return_material_authorization_policy_document.title}") %></h1>

<%= render 'form' %>
</div>