<div class="row columns">
	<%= link_to "back to admin RMAs", admin_return_material_authorization_policy_documents_path, class: "admin-back-link" %>
</div>
<%= render template: 'legal_policy_documents/show' %>