<% cache product_category do %>
  <section class="products-type-box">
    <div class="products-category-image-backer" style="background-image: url('<%= product_category.billboard_url(public: true) %>');"></div>
    <div class="row">
      <div class="products-white-backer large-10 large-centered columns">
        <div>
          <%= image_tag product_category.icon_url(public: true), class: "icon" if product_category.icon_data? %>
          <h1>
            <%= product_category.name %>
          </h1>
          <div class="row products-product-box">
            <%= render product_category.products %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
