<% content_for :title, %(Edit "#{@product_category.name}" Product Category) %>
<div class="row columns">
<h1><%= %(Edit "#{@product_category.name}" Product Category) %></h1>

<%= render 'form' %>
</div>