<% cache download_type do %>
  <%= content_tag_for :tr, download_type do %>
    <td>
      <%= link_to download_type_path(download_type), class: 'delete', data: { confirm: %(Are you sure you want to delete "#{download_type.name}"? This cannot be undone.) }, method: :delete, title: %(Delete "#{download_type.name}") do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
    </td>
    <td>
      <%= download_type.name %>
    </td>
    <td>
      <%= link_to edit_download_type_path(download_type), title: %(Edit "#{download_type.name}") do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </td>
    <td class="handle">
      <i class="fa fa-ellipsis-v"></i>
    </td>
  <% end %>
<% end %>
