<% cache download_type do %>
  <%= content_tag_for :tr, download_type do %>
    <td>
      <%= download_type.name %>
    </td>
    <td>
      <%= render partial: 'options_menu', locals: {object: download_type, instance_name: download_type.name} if current_user %>
    </td>
  <% end %>
<% end %>
