<% content_for :title, 'Download Types' %>
<div class="row columns">
<h1>Download Types

<%= link_to new_download_type_path, title: 'Create a new download_type' do %>
  <%= image_tag('icons/Plus.svg', class: "icon") %>
<% end %>
</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th style="width: 3rem;"></th>
    </tr>
  </thead>
  <tbody id="download_types" data-update-path="<%= sort_download_types_path %>">
    <%= render @download_types %>
  </tbody>
</table>
</div>
