<%= content_for :title, t(".title") %>

<div class="row columns admin-table">
<h1>
  Territories
  <%= link_to new_admin_territory_path, title: 'Create a new Territory' do %>
    <%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
  <% end %>
</h1>

<table>
  <thead>
    <tr>
      <th width="30"></th>
      <th>Name</th>
      <th>Country</th>
      <th>Office</th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody id="territories">
    <%= render @territories %>
  </tbody>
</table>
</div>