@import "foundation_and_overrides";
@import "globals/all";
.about-media {
    img {
        margin-bottom: 10px;
        min-width: 100%;
    }
    .text-right img {
        height: 26px;
    }
    .text-right a {
        float: right;
    }
}

.about-us-sections {
    section {
        margin-bottom: 5rem;
    }
}

.about-media-container .button {
    margin: 1.5rem 1rem 0 1rem;
}

.about-media-container,
.about-legal-container {
    background: $ghost;
}

.about-media-container p {
    margin: auto;
    width: 30%;
    margin-bottom: 50px;
}

.about-media-container,
.about-careers-container,
.about-legal-container,
.about-filler-container {
    text-align: center;
    padding: 10rem 0;
    button {
        margin-top: 2rem;
    }
    p {
        font-size: 1.5rem;
    }
}

.about-careers-container button {
    background: $bluesteel;
    color: $white;
    &:hover {
        background-color: lighten($bluesteel, 10%);
        color: $white !important;
    }
}

.media-download-container {
    margin-bottom: 30px;
}