@import "foundation_and_overrides";
@import "globals/all";

.about-gold {
	margin-bottom: 30px;
}

.about-media {
	img {
		margin-bottom: 10px;
		min-width: 100%;
	}
	.text-right img {
		height: 26px;
	}
	.text-right a {
		float: right;
	}
}

.about-read-more {
	text-align: center;
	border-bottom: 1px solid $silver;
	padding-bottom: 10px;
	padding-top: 35px;
	margin-bottom: 50px;
}