@import "foundation_and_overrides";
@import "globals/all";

.admin-list-header {
	display: block;
	padding: 10px;
	border-radius: 5px;
	ul {
		margin-left: 0;
	}
}

.admin-sub-list-collection {
	border: 1px solid $ghost;
	padding: 10px;
	border-radius: 5px;
	a {
		font-weight: 100;
	}
	li {
		margin: 5px 0;
	}
}

.admin-left-edit {
	padding-right: 4px;
	border-right: 1px solid $ghost;
}

.admin-right-delete {
	border-left: 1px solid $ghost;
	padding-right: 4px;
}

.admin-table {
	h2 {
		color: $charcoal;
		margin-bottom: 0;
	}
	thead {
		background: none;
		color: $silver;
		border: none;
	}
	th {
		padding-bottom: 5px;
	}
	table {
		margin-bottom: 30px;
	}
}

.admin-edit,
.admin-delete {
	padding: 0 0.25rem !important;
}

.admin-edit-container {
	width: 28px;
	margin-top: 6px;
}

.admin-table-move {
	text-align: center;
	background: $silver;
	border-bottom: 1px solid silver;
	width: 30px;
}

.admin-table-icon {
	width: 25px;
	text-align: center;
}

.ellipsis-link .small-icon {
	margin-right: 0;
}

.admin-title-bar {
	background: $charcoal !important;
}

.mobile-admin-title {
	padding-top: 1px;
	vertical-align: text-top;
	display: inline-block;
	a{
		color: $gold;
		font-weight: 400;
	}
}

.admin-add-icon {
	margin-bottom: 8px;
}

.admin-back-link {
	font-weight: normal;
	margin-top: 1rem;
	display: block;
	&:before {
		content: url(image_path('icons/stories-left-blue.svg'));
	    width: 16px;
	    display: inline-block;
	    vertical-align: middle;
	}
}