@import "foundation_and_overrides";
@import "globals/all";


.social-media-sticky-header {
	background: $white;
	height: 50px;
	.sticky {
		width: 100% !important;
		border-bottom: 1px solid $ghost;
		background: $white;
		padding: 39px 0 3px 0;
		opacity: 0.9;
		@media screen and (max-width: 640px) {
			padding-top: 0;
			top: 52px;
			position: fixed;
			z-index: 5;
		}
	}
	a {
		color: $charcoal;
		font-weight: 500;
	}
	img {
		width: 32px;
	}
}

.article-header {
	padding-top: 30px;
}

.article-hero-container {
	text-align: center;
}

.article-header .hero_image {
	margin: 25px 0;
}

.article-header h6 {
	margin-bottom: 0;
}

.bylinecaption {
	font-size: 14px;
	line-height: 20px;
	color: $steel;
}

.social-media-icon {
	display: block;
	height: 32px;
	width: 32px;
	margin: 3px;
	text-align: center;
	vertical-align: top;
	margin-bottom: 30px;
	i {
		font-size: 23px;
		line-height: 18px;
		color: $white;
	}
}

.social-media-container {
	text-align: center;
	padding-top: 25px;
}

.article-deckhead {
	padding-top: 25px;
	hr {
		border: 1px solid $silver;
	}
}

.social-media-side {
	margin: 75px 0 15px 0;
}

.similar-stories-side {
	a {
		color: $charcoal;
	}
	.is-stuck {
		margin-top: 60px !important;
	}
	img {
		display: inline-block;
	}
	.columns {
		padding: 0;
	}
	.similar-side-text {
		padding: 10px 10px 0 0;
	}
	@media screen and (min-width: 1024px) {
		h2 {
			font-size: 16px;
			line-height: 33px;
		}
		.similar-side-text {
			padding: 0 10px;
		}
	}
}

.article-side-container {
	margin-bottom: 10px;
}

.article-side-title {
	text-align: center;
	margin: 75px 0 15px 0;
	border-bottom: 1px solid $steel;
}

.article-body,
.product-intro-blurb {
	ol {
		list-style-type: decimal;
	}
	ul {
		list-style-type: disc;
	}
	ol, ul {
		margin-left: 2.5rem;
		margin-bottom: 1rem;
		list-style-position: outside;
	}
}

.article-body img {
	margin-left: auto;
	height: auto !important;
	width: auto !important;
	display: block;
	margin-right: auto;
	padding-bottom: 10px;
	@media screen and (min-width: 40em) {
		margin-left: -16.6667%;
		max-width: 116.6667%;
		float: left;
		padding: 0 10px 10px 0;
	}
}

.article-body .flex-video {
	margin-left: auto;
	@media screen and (min-width: 1200px) {
		left: -16.6667%;
		width: 115.6%;
		height: 371px;
	}
	@media screen and (min-width: 961px) and (max-width: 1200px) {
		width: 55vw;
		height: 31vw;
		left: -16.667%;
	}
	@media screen and (min-width: 40em) and (max-width: 960px) {
		left: -16.6667%;
		height: 46.75vw;
		width: 83vw;
	}
}

.article-body blockquote {
	display: block;
	padding: 10px 0 30px 0px;
	margin-left: auto;
	margin-right: auto;
	p {
	  font-size: $deckhead-font-size;
	  line-height: $deckhead-line-height;
	  font-family: $font-family-secondary;
	  font-weight: $deckhead-font-weight;
	  @media screen and (max-width:40em) {
	    font-size: $deckhead-font-size-mobile;
	    line-height: $deckhead-line-height-mobile;
	  }
	}
	p:last-child {
		float: right;
		font-size: $byline-font-size;
		line-height: $byline-line-height;
		font-family: $font-family-secondary;
		font-weight: $byline-font-weight;
		&:before {
			content: '\2014 \0020';
		}
	}
	@media screen and (min-width: 40em) {
		margin-left: -16.6667%;
		max-width: 328px;
		float: left;
		padding: 5px 19px 5px 10px;
	}
}

.article-sub-movie {
	margin-left: 0;
	@media screen and (min-width: 1024px) {
		margin-left: -16.66667%;
	}
	.flex-video iframe {
      border: 1px solid $silver;
    }
}

.article-sub-head {
	padding: 20px 0 0 0;
}

.article-tags {
	border-top: 1px solid $steel;
	padding: 0 0 5px 5px;
	margin-bottom:20px;
	width: 100%;
	margin-left: 11%;
	font-family: $font-family-secondary;
	font-weight: 600;
}

/***********************************************************************************************
Tags
***********************************************************************************************/

	.tag-container {
		margin-bottom: 15px;
		a {
			color: $charcoal;
		}
		@media screen and (max-width: 40em) {
			margin-bottom: 25px;
		}
	}


