@import "foundation_and_overrides";
@import "globals/all";

form {
  input,
  select,
  textarea {
    font-family: $font-family-secondary;
  }
}

.field_with_errors {
  .message {
    color: $alert-color;
    font-size: 0.8rem;
  }
}
