@import "foundation_and_overrides";
@import "globals/all";

.knowledge-base-header {
	height: 300px;
	background: $linkblue;
	padding-top: 130px;
	margin-top: -20px;
	text-align: center;

	h1 {
		color: $white;
	}
}

.knowledge-base-search {
	width: 80%;
	background: $white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: 1px solid $silver;

	input {
		margin-bottom: 0;
		border: none;
		box-shadow: none;
	}

	@media screen and (max-width: 1023px) {
		margin-right: auto !important;
		margin-left: auto !important;
	}

	@media screen and (min-width: 40em) {
		width: 50vw !important;
	}
}

.knowledge-base-body {
	margin-top: 50px;
	@media screen and (min-width: 1024px) {
		h3 {
			text-align: right;
		}
	}
}

.knowledge-base-question {
	border-bottom: 1px solid $ghost;
	padding: 0.5rem 0;
}

.knowledge-base-view-more .menu.nested {
	margin-left: 0;
}

.knowledge-base-view-more-link {
	text-align: center;

	&::after {
		left: -6rem !important;
		margin-left: auto;
		margin-right: auto;
	}
}

.kb-article-body {
	blockquote {
		display: block;
		padding: 10px 0 30px 0px;
		margin-left: auto;
		margin-right: auto;

		p {
			font-size: $deckhead-font-size;
			line-height: $deckhead-line-height;
			font-family: $font-family-secondary;
			font-weight: $deckhead-font-weight;

			@media screen and (max-width:40em) {
				font-size: $deckhead-font-size-mobile;
				line-height: $deckhead-line-height-mobile;
			}
		}

		p:last-child {
			float: right;
			font-size: $byline-font-size;
			line-height: $byline-line-height;
			font-family: $font-family-secondary;
			font-weight: $byline-font-weight;

			&:before {
				content: '\2014 \0020';
			}
		}

		@media screen and (min-width: 40em) {
			margin-left: -16.6667%;
			max-width: 328px;
			float: left;
			padding: 5px 19px 5px 10px;
		}
	}

	img {
		margin-left: auto;
		height: auto !important;
		// width: auto !important;
		// max-width: 90%;
		display: block;
		margin-right: auto;
		padding-bottom: 10px;
	}

	ol {
		list-style-type: decimal;
	}

	ul {
		list-style-type: disc;
	}

	ol, ul {
		margin-left: 1rem;
		margin-bottom: 1rem;
		list-style-position: outside;

		li {
			position: relative;
			left: 1em;
			padding-right: 1em;
		}
	}

	.flex-video {
		margin-left: auto;

		// @media screen and (min-width: 1200px) {
		// 	left: -16.6667%;
		// 	width: 115.6%;
		// 	height: 371px;
		// }
		//
		// @media screen and (min-width: 961px) and (max-width: 1200px) {
		// 	width: 55vw;
		// 	height: 31vw;
		// 	left: -16.667%;
		// }
		//
		// @media screen and (min-width: 40em) and (max-width: 960px) {
		// 	left: -16.6667%;
		// 	height: 46.75vw;
		// 	width: 83vw;
		// }
	}
}

.knowledge-base-answer {
	.answer-download {
		margin: 0.5rem 0;
	}
	img {
		height: 24px;
		width: 24px;
		margin-right: 0.5rem;
	}
}

.is-accordion-submenu-parent[aria-expanded='false'] > .knowledge-base-view-more-link::before {
	content: 'view more'
}

.is-accordion-submenu-parent[aria-expanded='true'] > .knowledge-base-view-more-link::before {
	content: 'view less'
}

.kb-spacer {
	height: 30px;
}

.kb-feedback-thanks {
	display: none;
}
