@import "foundation_and_overrides";
@import "globals/all";

.products-page {
  margin-top: -71px;
}

.products-type-box {
  text-align: center;
  .icon {
    width: 32px;
    max-height: 32px;
  }
}

.products-submenu {
  display: block;
  margin-bottom: 25px;
}

.products-white-backer {
  margin-top: -217px;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 25%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 25%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,1) 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  padding: 30px 0 100px 0;
  .small-3 img {
    float: right;
  }
}

.products-product-box {
  text-align: left;
  padding-bottom: 1.563rem;
  h2 {
    margin-bottom: 0.25rem;
  }
  .small-3 {
    padding-right: 0;
  }
  .medium-6 {
    padding-top: 50px;
  }
  @media screen and (min-width: 40em) {
    .medium-6 {
      padding-top: 25px;
    }
    .small-3 {
      text-align: right;
    }
  }
}

/***********************************************************************************************
Product Categories
***********************************************************************************************/

  .products-category-image-backer {
    height: 310px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (min-width: 40em) and (max-width: 1023px) {
      height: 392px;
    }
    @media screen and (min-width: 1024px) {
      height: 582px;
    }
  }

/***********************************************************************************************
Product Types
***********************************************************************************************/

  .product-alternate-sides-sections section {
    display: flex;
    margin: 3rem 0;
    .product-alternate-image-container {
      background: url(http://placehold.it/805x650) no-repeat left;
      width: 50vw;
      overflow: hidden;
      flex-direction: row-reverse;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      vertical-align: top;
    }
    .product-alternate-text-container {
      width: 100%;
      display: block;
      margin: 1.5rem 0;
      .products-alternate-text-box {
        max-width: 500px;
        margin: 10px auto;
      }
      .product-alternate-header {
        padding: 25px 0 10px 0;
        text-align: center;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        img {
          height: 32px;
        }
      }
      @media screen and (min-width: 1024px){
        width: 50vw;
        float: right;
        display: inline-block;
        vertical-align: top;
        .products-alternate-text-box,
        .product-alternate-header {
          max-width: 500px;
          margin-right: 0;
        }
      }
    }
    &:nth-child(odd) {
      display: flex;
      flex-direction: row-reverse;
      background: $ghost;
      .product-alternate-image-container {
        float: right;
        background: url(http://placehold.it/805x650) no-repeat right;
        overflow: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 50vw;
        display: inline-block;
        vertical-align: top;
      }
      .product-alternate-text-container {
        margin-left: 1rem;
        .products-alternate-text-box {
          margin-right: auto;
          margin-left: auto;
        }
        .product-alternate-header {
          margin-left: auto;
          margin-right: auto;
        }
        @media screen and (min-width: 1024px){
          width: 50vw;
          float: left;
          .products-alternate-text-box,
          .product-alternate-header {
            max-width: 500px;
            margin-left: 0;
          }
        }
      }
    }
  }

