@import "foundation_and_overrides";
@import "globals/all";
.training-request {
    text-align: center;
}

.request-host {
    padding-top: 25px;
    .button {
        width: 60%;
        color: $white;
    }
    h4 {
        margin-bottom: 1rem;
        margin-top: 2.25rem;
    }
}

.training-grid-item {
    width: 50%;
}

.news-find-events {
    width: 100%;
    border: 1px solid $silver;
    border-radius: 5px;
    input {
        margin-bottom: 0;
    }
}

.event-location {
    h6 {
        margin: 0.5rem 0;
        img {
            height: 1rem;
            margin-right: 0.25rem;
        }
    }
    .button {
        margin-top: 0.75rem;
        width: 142px;
    }
    .event-city:before,
    .event-date:before,
    .event-time:before {
        width: 24px;
        display: inline-block;
        vertical-align: top;
        margin-right: 0.5rem;
    }
    .event-city:before {
        content: url(image_path('icons/Marker.svg'));
    }
    .event-date:before {
        content: url(image_path('icons/calendar.svg'));
    }
    .event-time:before {
        content: url(image_path('icons/stop-watch.svg'));
    }
}

.request-host .button {
    background: $dark-gray;
    color: $white !important;
    &:hover, &:active {
        background-color: lighten($dark-gray, 10%);
        color: $white !important;
    }
}

.training-input-card {
    color: inherit;
    text-decoration: none;
    display: block;
    margin: 0 1%;
    position: relative;
    vertical-align: top;
}

.training-post-cards .post-card {
    width: 97%;
    height: 220px;
    margin: 1%;
    @media screen and (min-width: 40em) {
        width: 48%;
        &:nth-child(1) {
            margin-top: -530px;
        }
    }
    @media screen and (max-width: 1024px) {
        height: 290px;
    }
    .button {
        background: $bluesteel;
        position: absolute;
        color: $white;
        width: 255px;
        bottom: 0;
        &:hover, &:active {
            color: $white !important;
            background-color: lighten($bluesteel, 10%);
        }
        a {
            color: $white;
            &:hover, &:active {
                color: $white;
            }
        }
    }
}

.training-post-cards .post-list {
    overflow: visible;
    @media screen and (min-width: 40em) {
        max-height: 500px;
    }
}

.training-courses-section {
    margin-top: 2rem;
}

.training-course-card {
    border: 1px solid $ghost;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    vertical-align: top;
    margin: 10px 0;
    @media screen and (min-width: 40em) {
        width: 47%;
        margin: 1%;
        display: inline-block;
    }
    .small-icon {
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    .course-dropdown-container {
        left: 0 !important;
        top: 0px;
        border: none !important;
        height: 0;
        position: relative;
        &.is-open {
            height: auto;
            visibility: visible;
            top: -30px !important;
            width: 100%;
            text-align: left;
            padding: 0 !important;
            img {
                padding-bottom: 1rem;
            }
            .prereq {
                color: $tomato;
            }
            h6 img {
                padding-top: 15px;
                height: 49px;
            }
        }
    }
    .course-card-left,
    .course-card-right {
        width: 50%;
        display: inline-block;
        margin: 0.5rem 0;
    }
    .course-card-right {
        text-align: right;
        float: right;
    }
}

.enrollment-list label {
    font-size: 1.25rem;
    font-weight: 600;
}

.learn-course {
    text-align: center;
    margin-bottom: -2rem;
}

.training-certified:before {
    content: url(image_path('icons/Certified.svg'));
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
}

.training-hours:before {
    content: url(image_path('icons/stop-watch.svg'));
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
}

.training-date:before {
    content: url(image_path('icons/calendar.svg'));
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
}

.training-seat:before {
    content: url(image_path('icons/chair_office.svg'));
    width: 24px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
}

.prereq-req {
    color: $tomato;
}
