<% content_for :title, t('.title') %>
<div class="row columns admin-table">
<h1>
  <%= yield :title %>
  <%= link_to new_admin_redirect_rule_path, title: "Create a new redirect rule" do %>
    <%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
  <% end %>
</h1>

<table>
  <thead>
    <tr>
      <th width="30"></th>
      <th width="30">Active</th>
      <th>Source</th>
      <th>Destination</th>
      <th width="30"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @redirect_rules %>
  </tbody>
</table>
</div>
