<div class="row columns">
	<%= link_to "back to admin website terms", admin_website_terms_of_use_documents_path, class: "admin-back-link" %>
</div>
<%= render template: 'legal_policy_documents/show' %>