<% content_for :title, %(Edit "#{@sales_terms_and_conditions_document.title}") %>
<div class="row columns">
<h1><%= %(Edit "#{@sales_terms_and_conditions_document.title}") %></h1>

<%= render 'form' %>
</div>