<div class="row columns">
	<%= link_to "back to admin Sales Terms", admin_sales_terms_and_conditions_documents_path, class: "admin-back-link" %>
</div>
<%= render template: 'legal_policy_documents/show' %>