<footer class="show-for-large admin-footer">
	<div class="row">
	  <small>
			&copy; <%= Date.today.year %> Wavetronix LLC
			<% if current_user %>
				<%= link_to "sign out #{current_user.first_name}", sign_out_path, method: :delete %>
			<% end %>
		</small>
	</div>
</footer>
