<footer class="show-for-large admin-footer">
	<div class="row">
	  <small>
			&copy; <%= Date.today.year %> Wavetronix LLC
			<% if current_user %>
				<%= link_to "sign out #{current_user.first_name}", sign_out_path, method: :delete %>
			<% end %>
		</small>

		<%= form_tag locales_path, class: 'site-language-selection' do %>
			<%= select_tag :new_locale, options_for_select([['English', 'en'], ['French (France)', 'fr-FR']], locale), class: 'site-language-dropdown' %>
		<% end %>
	</div>
</footer>
