<footer class="show-for-large admin-footer">
	<div class="row">
	  <small>
			&copy; 2016 Wavetronix, LLC <%= link_to "sign out #{current_user.first_name}", sign_out_path %>
		</small>
	</div>
</footer>
