<%= content_for :title, "Training Course Types" %>

<div class="row columns admin-table">
  <h1>
    Training Course Types
    <%= link_to new_admin_training_course_type_path, title: 'Create a new course type' do %>
			<%= image_tag('icons/Plus.svg', class: "small-icon admin-add-icon") %>
		<% end %>
  </h1>

<table>
  <thead>
    <tr>
      <th width="30"></th>
      <th>Name</th>      
      <th width="30"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @training_course_types %>
  </tbody>
</table>
</div>