<% cache product_type do %>
  <h2><%= product_type.name %></h2>
  <table>
    <thead>
      <tr>
        <th width="30"></th>
        <th style="width: 50%;"><%= Product.human_attribute_name(:name) %></th>
        <th><%= Product.human_attribute_name(:part_number) %></th>
        <th>Translations</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody id="products">
      <%= render product_type.products %>
    </tbody>
  </table>
<% end %>
