<% cache product do %>
  <tr>
    <td>
      <%= product.name %>
    </td>
    <td>
      <%= product.part_number %>
    </td>
    <td class="admin-table-edit">
      <%= render partial: 'options_menu', locals: {object: product, instance_name: product.name} %>
    </td>
  </tr>
<% end %>
