<div class="row news-links">
  <%= link_to article do %>
    <div class="medium-6 large-4 columns">
      <%= attachment_image_tag article, :hero_image, :fill, 624, 351, fallback: 'http://placehold.it/624x351' %>
    </div>
    <div class="medium-6 large-8 columns">
      <h2><%= article.title %></h2>
      <p><%= article.subtitle %></p>
    </div>
  <% end %>
</div>
