<%= content_for :title, t('.title') %>

<div class="row">
  <div class="medium-10 medium-centered large-12 columns">

    <section class="row">
      <div class="small-12 columns">
        <h1><%= yield :title %></h1>
      </div>

      <div class="row">
        <div class="large-6 columns careers-intro-image">
          <%# image_tag 'about/careers.jpg' %>
        </div>

        <div class="large-6 columns">
          <p>
            At Wavetronix, one of our core missions is to create challenging and
            rewarding careers that benefit employees, their families and our
            community. Wavetronix employees are expected to stretch themselves and
            to constantly develop skills; to contribute to their immediate team
            and to the whole company; and to produce results that are personally
            rewarding and essential to the company’s success.
          </p>

          <p>
            At its core, Wavetronix is an engineering and technology company, but
            our support teams have grown and are a critical part of the Wavetronix
            family. Whether your interests lie in electrical engineering, software
            coding and design, sales, marketing, manufacturing or accounting,
            there is a place for you at Wavetronix!
          </p>

          <div class="callout">
            <p>
              “I enjoy dealing with real situations and trying to find solutions
              to everyday problems. I love getting to use the latest technology to
              engage with my coworkers in solving difficult problems.”
            </p>

            <p>
              – Raul Castillo, Engineer
            </p>
          </div>

          <div class="callout">
            <p>
              “I am a more productive, capable, kinder, interesting, and
              understanding person because of my time at Wavetronix. My leaders,
              team members, and the company have invested a lot of time and money
              in my personal development and I hope to repay them by investing the
              same into all my Wavetronix family and all of our future employees.”
            </p>

            <p>
              – Amy Arnold, Program Specialist
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="row columns">
      <h1 style="margin-top: 1em;"><%= t '.openings' %></h1>

      <div id="bzOpeningsContainer"></div>
      <script src="https://wavetronix.breezy.hr/embed/js?inline=true&group_by=loc"></script>
    </section>
  </div>
</div>
