<% content_for :title, %(Edit patent #{number_with_delimiter @patent.number}) %>
<div class="row columns">
<h1><%= %(Edit patent #{number_with_delimiter @patent.number}) %></h1>

<%= render 'form' %>
</div>
