@import "foundation_and_overrides";
@import "globals/all";

html,
base {
  font-size: $base-font-size;
}

body {
  font-family: $font-family-primary !important;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $charcoal;
  font-size: 100%;
}

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

p {
  font-size: $base-font-size;
  font-family: $font-family-secondary;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  margin-bottom: 1rem;
  margin-top: 0;
}

em,
i {
  font-style: italic;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  margin-top: 0;
  color: $charcoal;
  @include no-pad-marg;
 }
  h1 small,
  h2 small,
  h3 small,
  h4 small,
  h5 small,
  h6 small {
    line-height: 0; }

//title
h1 {
  font-size: $title-font-size;
  line-height: $title-line-height;
  color: $charcoal;
  font-family: $font-family-primary-lite !important;
  font-weight: 500;
  @media screen and (max-width: 40em) {
    font-size: $title-font-size-mobile;
    line-height: $title-line-height-mobile;
  }
}

//subhead
h2 {
  font-size: $subhead-font-size;
  line-height: $subhead-line-height;
  font-family: $font-family-primary;
  font-weight: $subhead-font-weight;
}

//deckhead
h3 {
  font-size: $deckhead-font-size;
  line-height: $deckhead-line-height;
  font-family: $font-family-secondary;
  font-weight: $deckhead-font-weight;
  @media screen and (max-width:40em) {
    font-size: $deckhead-font-size-mobile;
    line-height: $deckhead-line-height-mobile;
  }
}

//blurb
h4 {
  font-size: $blurb-font-size;
  line-height: $blurb-line-height;
  font-family: $font-family-secondary;
  font-weight: $blurb-font-weight;
}

//location
h5 {
  font-size: $location-font-size;
  line-height: $location-line-height;
  font-family: $font-family-secondary;
  font-weight: $location-font-weight;
}

//byline/caption
h6 {
  font-size: $byline-font-size;
  line-height: $byline-line-height;
  font-family: $font-family-secondary;
  font-weight: $byline-font-weight;
}

a {
  color: $linkblue;
  text-decoration: none;
  font-size: $link-font-size;
  line-height: $link-line-height;
  cursor: pointer;
  font-family: $font-family-secondary;
  font-weight: $link-font-weight;
}
  a:hover, a:focus, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    color: $sky;
    outline: none;
    border: 0;
  }
  a img {
    border: 0; }

/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

  .text-centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

hr {
  max-width: 62.5rem;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #cacaca;
  border-left: 0;
  margin: 1.25rem auto;
  clear: both;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

ul {
  list-style-type: none;
  @include no-pad-marg;
}

ul.normal-list {
  list-style-type: disc;
  li {
    padding-bottom: 10px;
  }
}

td,
th {
  font-family: $font-family-secondary;
}

button {
  font-family: $font-family-secondary;
  background: $yellow;
  font-weight: 400;
}
.button:hover, .button:focus {
  background-color: lighten($yellow, 15%);
  color: $oil !important;
}
.button {
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  &.large {
    height: 3.25rem;
    font-size: 1rem;
    padding: 0 3.25rem;
    line-height: 3.25rem;
  }
  &.small {
    height: 1.625rem;
    font-size: 1rem;
    padding: 0 1.25rem;
    line-height: 1.625rem;
  }
  &.cancel {
    background-color: $ghost !important;
  }
}

.tabs, .tabs-content {
  border: none;
}
.tabs, a:hover {
  background: none;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
  background: transparent;
}

.hover thead tr:hover {
  background-color: $jet !important;
}

.active {
  color: $yellow !important;
}

select {
  height: 39px;
}

.icon {
  height: 32px;
  width: 32px;
}

.small-icon {
  height: 16px;
  width: 16px;
}

label {
  font-family: $font-family-secondary;
  font-weight: 400 !important;
}

/***********************************************************************************************
Language Box select
***********************************************************************************************/

select.site-language-dropdown {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path style='fill:#54A5DB' class='st0' d='M26.4 11.7c0 0.3-0.1 0.6-0.3 0.8l-9.8 9.8 -9.8-9.8c-0.4-0.4-0.4-1.2 0-1.6s1.2-0.4 1.6 0l8.2 8.2 8.2-8.2c0.4-0.4 1.2-0.4 1.6 0C26.2 11.1 26.4 11.4 26.4 11.7z'/></svg>");
  background-size: 26px 26px;
}

.site-language-selection {
  width: 200px;
  display: inline-block;
  select {
    border-radius: 5px;
  }
}

.product-language-selection {
    text-align: right;
    .products-language-dropdown {
      max-width: 9.375rem;
      border-radius: 10px !important;
      border-color: $silver;
      float: left;
    }
  }

  select.site-language-dropdown {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'><path style='fill:#54A5DB' class='st0' d='M26.4 11.7c0 0.3-0.1 0.6-0.3 0.8l-9.8 9.8 -9.8-9.8c-0.4-0.4-0.4-1.2 0-1.6s1.2-0.4 1.6 0l8.2 8.2 8.2-8.2c0.4-0.4 1.2-0.4 1.6 0C26.2 11.1 26.4 11.4 26.4 11.7z'/></svg>");
    background-size: 26px 26px;
  }




/***********************************************************************************************
Request Box
***********************************************************************************************/

  .request-box {
      margin-top: 12px;
      position: relative;
      background: $ghost;
      border: 1px solid $ghost;
      height: auto;
      text-align: center;
      padding: 35px 15px;
      .request-label {
        text-align: left;
        line-height: 0;
        margin-top: -10px;
        margin-bottom: 26px;
        &:last-child {
          padding-bottom: 10px;
        }
      }
      .request-textarea-label {
        margin-top: 0;
        margin-bottom: 15px;
        padding-top: 24px;
      }
  }

  .request-box:after, 
  .request-box:before {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      left: 50%;
      border-color: transparent;
  }

  .request-box:after {
      border-top-color: $white;
      border-width: 19px;
      margin-left: -19px;
      top: -2px;
  }
  .request-box:before {
      border-top-color: $ghost;
      border-width: 18px;
      margin-left: -18px;
      top: 0px;
  }

  .request-box input {
    margin: 0;
    border: none;
    border-bottom: 1px solid $silver;
    background: transparent;
    box-shadow: none;
    font-size: 19px;
    height: 26px;
  }

/***********************************************************************************************
Read/View more
***********************************************************************************************/
 
  .read-more {
    text-align: center;
    border-bottom: 1px solid $silver;
    padding-bottom: 10px;
  }

  .goto-new:after {
    content: url(image_path('icons/stories-right-blue.svg'));
    width: 16px;
    display: inline-block;
    vertical-align: top;
  }

  .expand-container:before {
    content: url(image_path('icons/blue-down-arrow.svg'));
    width: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
  }

  .close-container:before {
    content: url(image_path('icons/blue-up-arrow.svg'));
    width: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5rem;
  }

/***********************************************************************************************
Request Dropdown
***********************************************************************************************/
 
  .request-dropdown-container {
    width: 100% !important;
    left: 0 !important;
    margin-top: 44px;
    border: none !important;
    form input {
      margin: 0;
      border: none;
      border-bottom: 1px solid $silver;
      background: transparent;
      box-shadow: none;
      font-size: 19px;
      height: 26px;
    }
  }

  .request-dropdown {
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    button {
      display: inline-block;
      margin: 0.75rem 1rem 0 0;
    }
  }

  .request-dropdown-close {
    text-align: right;
    display: block;
    width: 100%;
    font-weight: 800 !important;
    font-size: 1.5rem;
    padding-bottom: 5px;
  }

/***********************************************************************************************
Search Bar/Input
***********************************************************************************************/
 
  .site-search-bar {
    width: 100%;
    margin-bottom: 1rem;
    .input-search-bar {
      background: $white;
      border: 1px solid $silver;
      border-left: 0px;
      border-radius: 0 5px 5px 0 !important;
      padding: 0.675em 1em !important;
      color: $charcoal;
      max-width: 100% !important;
      width: -webkit-calc(100% - 44px);
      width:  -moz-calc(100% - 44px);
      width:       calc(100% - 44px);
      display: inline-block;
      margin-left: 0;
    }
    .input-group-button {
      display: inline-block;
      background: $white;
      border: 1px solid $silver;
      border-right: 0;
      width: 44px;
      margin-right: -4px;
      margin-top: -2px;
      border-radius: 5px 0 0 5px !important;
      height: 39px;
      padding-top: 8px;
      svg {
        height: 20px;
        float: right;
        padding-right: 12px;
      }
    }
    .input-group-field {
      border-right: 0px;
      box-shadow: none;
      border-radius: 5px 0 0 5px !important;
      border-color: $silver;
      background-color: $charcoal !important;
    }
    @media screen and (max-width: 1023px) {
      margin: 1.5rem 5%;
      width: 90%;
      .input-search-bar {
        // margin-right: 0.5rem;
      }
    }
  }

/***********************************************************************************************
Admin Navigation
***********************************************************************************************/
 
.admin-nav {
  display: inline-block;
  text-align: left;
  border-radius: 5px;
  z-index: 5;
  vertical-align: bottom;
  a {
    padding: 0.25rem !important;
  }
  img {
    height: 16px;
    margin-right: 0 !important;
  }
  .dropdown ul {
    background: $snow;
    width: 300px;
    border: 1px solid $ghost;
  }
}

  .admin-new:before,
  .admin-edit:before,
  .admin-delete:before {
    width: 16px;
    display: inline-block;
    vertical-align: top;
  }
  .admin-new:before {
    content: url(image_path('icons/Plus16.svg'));
  }
  .admin-edit:before {
    content: url(image_path('icons/edit16.svg'));
  }
  .admin-delete:before {
    content: url(image_path('icons/trash16.svg'));
  }

/***********************************************************************************************
post-cards
***********************************************************************************************/

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  max-height: 1100px; //this may need to be pulled out to change
  max-width:  100%;
  overflow-x: hidden;
  position: relative;
}

.post-card {
  color: inherit;
  text-decoration: none;
  display: block;  
  padding: 20px 1rem 0 1rem;
  margin: 10px;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid $ghost;
  height: 250px;
}



$lines-to-show: 6;
.ellipsed-text p {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 16*19*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}




/***********************************************************************************************
upper sub nav
***********************************************************************************************/
  .page-sub-navigation {
    background: $white;
    .sticky {
      width: 100% !important;
      background: $white;
      padding: 41px 0 5px 0;
      opacity: 0.9;
      border-bottom: 1px solid $silver;
    }
    .menu {
      float: right;
    }
    a {
      color: $charcoal;
      font-weight: 500;
    }
  }

  .page-sub-navigation .active,
  .page-sub-bottom-nav .active {
    color: $linkblue !important;
  }

  .page-sub-bottom-nav {
    bottom: 0 !important;
    width: 100%;
    height: 50px;
    background: $white;
    position: fixed;
    border-top: 1px solid $silver;
    a {
      padding: 8px 1px 0px 1px !important;
      color: $charcoal;
      font-weight: 400 !important;
      font-size: 0.875rem;
    }
  }

