@import "foundation_and_overrides";
@import "globals/all";

.off-canvas-content {
	margin-top: $topbar-height;
	padding-top: 65px;
	.homepage {
		margin-top: -71px;
		padding-top: 0;
	}
}

.no-marg-bottom {
	margin-bottom: 0;
}