<%= form_for [:admin, @user] do |f| %>
  <h3>Roles</h3>
  <ul class="no-bullet">
    <%= f.collection_check_boxes :role_ids, Role.order(:name), :id, :name do |b| %>
      <li>
        <%= b.label { b.check_box + b.text.humanize } %>
      </li>
    <% end %>
  </ul>

  <%= f.submit class: 'button radius' %>
<% end %>
