<%= content_for :title, t('.title') %>

<div class="row columns admin-table">
  <h1>
    <%= t '.title' %>
  </h1>

  <table>
    <thead>
      <tr>
        <th width="30"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Provider</th>
        <th>Roles</th>
        <th width="30"></th>
      </tr>
    </thead>
    <tbody id="users">
      <%= render @users %>
    </tbody>
  </table>
</div>
