<div class="row columns">
	<%= link_to "back to admin website privacy policy", admin_website_privacy_policy_documents_path, class: "admin-back-link" %>
</div>
<%= render template: 'legal_policy_documents/show' %>