<footer class="show-for-large">
	<div class="row">
	  <small>
			&copy; 2016 Wavetronix, LLC
			<%= link_to t(".jobs"), jobs_path, target: '_blank' %>
			<%= link_to t(".legal"), legal_path %>
			<%= link_to 'United States', nil %>
			<%= link_to t(".signin"), sign_in_path unless current_user %>
		</small>
	</div>
</footer>
