<footer class="show-for-large">
	<div class="row">
	  <small>
			&copy; 2016 Wavetronix, LLC
			<%= link_to 'Careers', jobs_path, target: '_blank' %>
			<%= link_to 'Legal', legal_path %>
			<%= link_to 'United States', nil %>
			<%= link_to 'Manage', sign_in_path unless current_user %>
		</small>
	</div>
</footer>
