<footer class="show-for-large">
	<div class="row">
	  <small>
			&copy; 2016 Wavetronix, LLC
			<%= link_to t(".jobs"), jobs_path, target: '_blank' %>
			<%= link_to t(".legal"), legal_path %>
			<%= link_to t(".manage"), admin_root_path %>
			<div class="site-language-selection">
		      <select class="site-language-dropdown" name="click">
		        <option value="us-en">United States</option>
		        <option value="fr-fr">France</option>
		        <option value="la-la">Latvia</option>
		        <option value="zh-ch">China</option>
		        <option value="ja-ja">Japan</option>
		        <option value="an-an">Antartica</option>
		        <option value="ma-ma">Mars</option>
		        <option value="au-au">Australia</option>
		        <option value="to-pl">that other place</option>
		      </select>
    	</div>
		</small>
	</div>
</footer>
