<div class="support-download-item row">
  <%= link_to download.attachment_url(public: true) do %>
    <div class="small-1 column">
      <%= image_tag('icons/document.svg') %>
    </div>
    <div class="small-11 columns">
      <%= download.title %>
    </div>
  <% end if download.attachment_url.present? %>
</div>
