<% content_for :title, 'Products' %>

<div class="products-page">
  <%= render @product_categories %>

  <div class="product-alternate-sides-sections">
    <%= render @product_types %>
  </div>

</div>
