jQuery(function () {
  $("#product_downloads").html(`
    <% Mobility.with_locale(@product_downloads_translation_locale) do %>
      <% @downloads.group_by(&:download_type).sort_by { |key, value| key.position }.each do |download_type, downloads| %>
      <div class="support-section columns">
        <h3><%= j download_type.name %></h3>
        <ul>
          <%= j render(partial: 'download', collection: downloads) %>
        </ul>
      </div>
      <% end %>
    <% end %>
  `);
});
