<tr>
  <td><%= link_to list_item.title, feature_path(list_item) %></td>
  <td style="width: 40px;"><%= render partial: 'options_menu', locals: {object: list_item, instance_name: list_item.title} if current_user %></td>
</tr>
