<% content_for :title, t('.title') %>
<div class="row columns">
  <h1>
    <%= t '.title' %>
    <%= link_to new_feature_path, title: 'Create a new feature' do %>
			<%= image_tag('icons/Plus.svg', class: "small-icon") %>
		<% end %>
  </h1>
</div>
